<!-- <div class="upload-card" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <div class="icon">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 15a4 4 0 014-4h1m4 0h1a4 4 0 014 4m-4-4v10m-4-4l4-4m0 0l4 4"/>
  </svg>
</div>
  <p class="instructions">Drag and drop your document here</p>
  <span class="or">or</span>
  <button (click)="fileInput.click()">Select File</button>
<input #fileInput type="file" … hidden (change)="onFileSelected($event)" />
  <small class="support">Supports PDF, JPG, PNG files</small>
</div> -->
